---
---

body {
  margin: 0;
  color: #333;
  font-family: 'Open Sans', arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fafafa;
  text-align: center;
  transition: font-size 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header, footer {
  background-color: #6a67b1;
  background-image: url(/static/waves.jpg);
  background-size: cover;
  color: #fff;
  font-weight: 400;
  padding: 20px;
  > * {
    max-width: 580px;
    margin: 0 auto;
  }
}

article {
  > section {
    padding: 40px 20px 60px;
    border-width: 1px 0;
    border-style: solid;
    border-color: transparent;
    &.green {
      border-color: #71c37d;
      background-color: #ccfeea;
    }
    &.purple {
      border-color: #6a67b1;
      background-color: #d8dafe;
    }
    &.purpletop {
      border-color: #6a67b1;
      border-bottom: none;
    }
    > * {
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;
    }
    &.logos {
      img {
        height: 30px;
        max-width: 30%;
        margin: 20px;
        display: inline;
        vertical-align: middle;
        transition: height 0.5s;
      }
    }
  }
}

h1, h2 {
  font-weight: 400;
  color: #666;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

#logo {
  width: 180px;
  display: block;
  margin: 10px auto;
  transition: width 0.5s;
}

form {
  margin-bottom: 100px;
  > * {
    width: 80%;
    margin: 0 auto;
  }
  > section {
    text-align:left;
    input, textarea {
      font-family: 'Open Sans', arial;
      font-size: 20px;
      font-weight: 300;
      border: 1px solid #ccc;
      padding: 4px;
    }
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
    label:first-child {
      margin-top: 20px;
      font-weight: 400;
      display:block;
    }
    #saveForm {
      margin-top: 20px;
      padding: 10px 40px;
      display: block;
      background: #6a67b1;
      color: #fff;
      float: right;
      border: 0;
    }
    &.hidden {
      display:none;
    }
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 20px;
  }
  #logo {
    width: 240px;
  }
  article > section.logos img {
    height: 40px;
  }
}
