---
---

body {
  margin: 0;
  color: #000;
  font-family: 'Open Sans', arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fafafa;
  text-align: center;
  transition: font-size 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header, footer {
  background-color: #6a67b1;
  color: #fff;
  font-weight: 400;
}

section {
  padding: 20px;
  margin: 0 auto;
  max-width: 700px;
}

h1, h2, h3, b, strong {
  font-weight: 400;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.3em;
  margin-top: 2em;;
}

h3 {
  font-size: 1.1em;
}

#logo {
  width: 240px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 740px) {
  body {
    font-size: 20px;
  }
}
