---
---

body {
  margin: 0;
  color: #000;
  font-family: 'Open Sans', arial;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fafafa;
  text-align: center;
  transition: font-size 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header, footer {
  background-color: #6a67b1;
  color: #fff;
  font-weight: 400;
  padding: 20px;
  > * {
    max-width: 580px;
    margin: 0 auto;
  }
}

article {
  > section {
    padding: 40px;
    border-width: 6px 0;
    border-style: double;
    border-color: transparent;
    &.green {
      border-color: #71c37d;
      background-color: #ccfeea;
    }
    &.purple {
      border-color: #6a67b1;
      background-color: #d8dafe;
    }
    * {
      max-width: 580px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

h1, h2 {
  font-weight: 400;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

#logo {
  width: 240px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 20px;
  }
}
